
*{
 color: black;
}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: black;
}
body{
    background-color: black;

}
.container{
    background-color: white;
}
.sidebar{
    background-color: #6D6D6D;
    border-right: 2px solid red;
    height: 100vh;
}
.red_under_box{
    border-bottom: 2px solid red;
}
.head_bar{
    color: black;
    background-color: #39AAB0;
}
.sidebar_top, .sidebar_content,.sidebar_bottom{
    height: 33%;
}
.sidebar_sq{
    height: 25%;
}
.social_icon{
    min-width: 40px;
}
.stnd_black_border{
    border-radius: 4%;

}

/* Dropdown Button */
.dropbtn {
    background-color: #39AAB0;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #39AAB0;}