
*{
 color: black;
}
.text-bold{
    font-weight: bold;
}
.margin-zero{
    margin: 0;
}
.resume_body_card{
    border: 1px solid black;
    box-shadow: 2px 5px;
    background-color: #f8f8ff;
}
.project_cards{
    border: 1px solid black;
    box-shadow: 2px 5px;
    height: 400px;
    background-color: #f8f8ff;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }
footer{
background-color: black;
}
.dv{
    background-color: greenyellow;
    border: 2px dotted red;
}
.box{
    height: 100px;
    width: 100px;
}
.text-white{
    color: white;
}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: black;
}
body{
    background-color: black;

}
.container{
    background-color: white;
}
.sidebar{
    background-color: #6D6D6D;
    height: 100vh;
    top: 0;
    position: sticky;
    z-index: 1;
    border-right: 1px solid red;
}
.head_bar{
    color: black;
    background-color: #39AAB0;
    top: 0;
    position: sticky;
    z-index: 1;
    border-bottom: 1px solid red;
}
.sidebar_top, .sidebar_content,.sidebar_bottom{
    height: 33%;
}
.sidebar_top{
    border-bottom: 1px solid gray;
}
.sidebar_bottom{
    border-top: 1px solid gray;
}
.sidebar_sq{
    height: 33%;
}
.social_icon{
    min-width: 40px;
    border: 2px solid black;
    border-radius: 25%;
}
.stnd_black_border{
    border-radius: 4%;
    box-shadow: 2px 3px;

}

/* Dropdown Button */
.dropbtn {
    background-color: #39AAB0;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #39AAB0;}


/*Test Code */

