<div class="row">
    <div class="col-3 text-right">
        <h3>Get in touch.</h3>
    </div>
</div>
<div class="row">
    <div class="col-2 text-right">Email :</div>
    <div class="col-2 text-left">stephenjsilverstein@gmail.com</div>
</div>
<div class="row">
    <div class="col-2 text-right">Phone :</div>
    <div class="col-2 text-left">(703)-622-0531</div>
</div>