<div class="row">
    <div class="col-12 subtitle">
        <h3>About Me.</h3>
        </div>
</div>
<div class="row">
    <div class="col 8"></div>
    <div class="col-3">
        <img class="img-fluid center-block stnd_black_border" src="~/images/headshot.jpg" alt="Headshot">
    </div>
    <div class="col-1"></div>
</div>   