
*{
 color: black;
}
.overIcon {
    transform:             rotate( -360deg );            
        -moz-transform:    rotate( -360deg );            
        -ms-transform:     rotate( -360deg );            
        -o-transform:      rotate( -360deg );            
        -webkit-transform: rotate( -360deg );            
    transition:             transform 550ms ease;
        -moz-transition:    -moz-transform 550ms ease;
        -ms-transition:     -ms-transform 550ms ease;
        -o-transition:      -o-transform 550ms ease;
        -webkit-transition: -webkit-transform 550ms ease;
}

.outIcon {
    transform:             rotate( 360deg );            
        -moz-transform:    rotate( 360deg );            
        -ms-transform:     rotate( 360deg );            
        -o-transform:      rotate( 360deg );            
        -webkit-transform: rotate( 360deg );            
    transition:             transform 550ms ease;
        -moz-transition:    -moz-transform 550ms ease;
        -ms-transition:     -ms-transform 550ms ease;
        -o-transition:      -o-transform 550ms ease;
        -webkit-transition: -webkit-transform 550ms ease;
}
.z_index_1{
    z-index: 1;
}
.dv{
    background-color: greenyellow;
    height: 35vh;
}
.gameBox{
    margin-bottom: 50px;
}
.text-bold{
    font-weight: bold;
}
.margin-zero{
    margin: 0;
}
.resume_body_card{
    background-color: #f8f8ff;
    margin-bottom: 15px;
}
.box-shadow-hover{
    border: 1px solid black;
    box-shadow: 2px 5px;
}
.box-shadow-hover-deep{
    border: 2px solid black;
    box-shadow: 4px 7px;
}
.test{
    background: linear-gradient(to bottom right, #f8f8ff 30%,  #DCD9D4 90%, #3BABB1 100%);
}
.project_cards{
    border: 1px solid black;
    box-shadow: 2px 5px;
    height: 50vh;
    background-color: #f8f8ff;
}
.project_card_text{
    height: 35vh;
}
.carousel-indicators li {
    height: 1em;    
    background-color: #6D6D6D;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    height: 1em;
    background-color: #39AAB0;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


footer{
background-color: black;
}

.box{
    height: 100px;
    width: 100px;
}
.text-white{
    color: white;
}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: black;
}
body{
    background-color: black;

}
.main_RenderBody{
    background: linear-gradient(to bottom, #DCD9D4 0%, #3BABB1 100%);
    border-radius: 20px;
    border:1px solid white;
}
.navbar-custom{
    background: linear-gradient(to bottom, #3BABB1 90%, white 100%);
    
    z-index: 3;
}
.main_container{
    background-color: white;
}
.head_bar{
    color: black;
    background-color: #3BABB1;
    top: 0;
    position: sticky;
    z-index: 1;
}
.sidebar{
    background:linear-gradient(to right, #6D6D6D 95%, white 100%);
    border-top-right-radius: 20px;
    height: 100vh;
    top: 0;
    position: sticky;
    z-index: 1;
}

.sidebar_top, .sidebar_content,.sidebar_bottom{
    height: 33%;
}
.sidebar_sq{
    height: 33%;
}
.social_icon{
    min-width: 40px;
    border: 2px solid black;
    border-radius: 25%;
}
.stnd_black_border{
    border-radius: 4%;
    border: 1px solid black;
    box-shadow: 2px 3px;
}
.portrait{
    border-radius: 4%;
}

/* Dropdown Button */
.dropbtn {
    background-color: #39AAB0;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #39AAB0;}


/*Test Code */

